#navbar {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

#brandName {
    color: #FF7A00 !important;
    font-family: 'Sumana', serif; 
    font-size: 2.8em;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    padding-bottom: .5%;
}

.navLinksGroup {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    margin-left: auto;
    margin-right: 50px;
}

.navLink {
    margin-left: 50px;
    margin-top: 2px;
    color: #FF7A00 !important;
    white-space: nowrap;
    font-size: 1.2em;
}

#unfollowButtonContainer {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-right: 5% !important;
    padding-bottom: 1.5% !important;
}

#unfollowButton {
    color: #FF4B4B;
    margin-left: auto;
}

.cartRow {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
}