#pageContainer {
    margin-top: 100px;
    margin-bottom: 200px;
}

#header {
    font-family: 'Karla', sans-serif;
    font-size: 2.5em;
    margin-bottom: 2%;
}

#cardBody {
    padding: 0 !important;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

#cardImage {
    object-fit: cover !important;
    height: 650px; 
    width: 100%;
}

#cardContainer {
    font-family: 'Karla', sans-serif !important;
    padding-right: 3%;
    line-height: 20px;
}

#cardHeader h2{
    font-family: 'Karla', sans-serif !important;
    font-weight: 600 !important;
    font-size: 2.2em;
    margin: 0;
    margin-top: 5%;
}

#cardSubHeader {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 2%;
}

#horizontalLine {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 1px;
    background-color: #7A7A7A;
}

#cardDate {
    text-align: right;
    color: #404040;
    font-weight: 600;
}

#cardWhat {
    font-size: .9em;
    margin-top: .3%;
    font-weight: 600;
}

#cardDescriptionContainer {
    margin-bottom: 5% !important;
}

#cardDescription {
    font-size: 1.2em;
}

#cardWho {
    font-size: .9em;
    margin-top: .3%;
    font-weight: 600;
}

#cardHostName {
    font-size: 1.2em;
    color: black;
    font-weight: 600;
}

#cardHostTitle {
    font-size: 1em;
}

#cardHostDetailsContainer {
    margin-bottom: 2% !important;
}

#cardHostDescriptionContainer {
    margin-bottom: 5% !important;
}

#cardHostDescription {
    font-size: 1.2em;
}

#cardIconsContainer {
    margin-bottom: 1%;
}

#cardIcons {
    color: black;
}

#cardMinorDetailsContainer {
    line-height: 15px;
    margin-bottom: 3%;
}

#cardMinorDetailsHeader {
    font-size: .8em;
}

#cardMinorDetailsContent {
    font-weight: 600;
}

#cardPrice {
    height: 52px;
    display: flex !important;
    align-items: center !important;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    white-space: nowrap;
    margin-bottom: 18%;
    color: #3F3F3F;
}


#cardButton{
    font-size: .9em;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: #464646;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    padding-left: 18%;
    padding-right:18%;
    margin-bottom: 5%;
}

#cardHeartButton {
    background-color: transparent !important;
    color: #FF275B;
    border-radius: 5px;
}

#cardButtonsContainer {
    margin-top: 72px;
}

#cardHeader {
    font-family: 'Karla', sans-serif;
}