#pageContainer {
    margin-top: 100px;
    margin-bottom: 200px;
    font-family: 'Karla', sans-serif;
}

#cardHeader {
    font-size: 2em;
}

#buttonUnfollow {
    font-size: .9em;
    margin: 2%;
    text-transform: capitalize;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    color: #3F3F3F;
}

#buttonBook {
    font-size: .9em;
    margin: 2%;
    text-transform: capitalize;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    color: #3F3F3F;
}