#loginCard {
    padding: 2.5%;
    max-width: 450px;
}

#loginHeader {
    padding-bottom: 0 !important;
    font-family: 'Karla', sans-serif;
    font-weight: bold
}

#inputLabel {
    color: #ACACAC;
    font-size: .7em;
    font-weight: 900;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
}

#noAccount {
    font-size: .7em;
    margin-bottom: 5%;
    color: #777777;
    text-align: right;
}

#clickHere {
    color: orange !important;
    font-weight: 900;
}

#button {
    float: right;
    text-transform: capitalize;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: #464646;
    font-weight: 900;
}