/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Sumana', serif;
font-family: 'Amiri', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

* {
	margin: 0;
	padding: 0;
}

/* landing page ------------------------------------------------- */

#landingPage {
    height: 900px;
    background: url("./images/landingpage4crop.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.landingPageHeader {
    font-size: 4.8em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 110px;
}

#svgWave {
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

/* trio page ------------------------------------------------- */
#trioContainer {
    display: flex;
    justify-content: center;
}

#svgTrioContainer {
    display: flex;
    justify-content: center;
}

#svgTrio{
    height: 250px;
    width: 250px;
    opacity: 1;
    display: flex;
    align-items: center;
}

#trioMainHeader {
    font-family: 'Karla', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    margin-top: 5%;
    margin-bottom: 5%;
}

#trioLabel {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 15%;
    margin-bottom: 5%;
}

#trioLabelDescription {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15%;
}

/* meet hosts page ------------------------------------------------- */
#meetHostsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}

#imgHostsContainer {
    display: flex;
    justify-content: center;
}

#meetHostImage {
    width: 100%;
    height: auto;
    border: solid 15px #FC6B3D;
    border-radius: 50%;
}

#meetHostImage2 {
    width: 100%;
    height: auto;
    border: solid 15px #FF4954;
    border-radius: 50%;
}

#meetHostsMainHeader{
    font-family: 'Karla', sans-serif;
    font-size: 2.3em;
    font-weight: 900;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
}

#meetHostLabel {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    margin-top: 15%;
}

#meetHostDescription{
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15%;
}

/* activities page ------------------------------------------------- */

#activitiesLandingPageContainer{
    padding: 0;
}

#activitiesLandingPageHeader {
    font-family: 'Karla', sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: white;
    padding-bottom: 2%;
}

#activitiesLandingPage {
    height: 480px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("./images/activitiescropped2.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#activityContainer {
    margin-top: 100px;
    margin-bottom: 50px;
}

#activityHeader {
    font-size: 3em;
}

.cardGroupsContainer {
    display: flex;
    align-items: stretch;
}

.cardContainer {
    background-color: transparent !important;
    border-radius: 15px !important;
    width: 270px;
    box-shadow: none !important;
    font-family: 'Karla', sans-serif;
}

.cardImage {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    display: block;
}

.cardBody {
    padding-left: 3% !important;
    padding-right: 3% !important;
    padding-top: 1% !important;
    padding-bottom: 5% !important;
}

#activityName {
    font-weight: 900;
}

#activityLocation {
    font-weight: 500;
}

.hoverContainer {
    position: relative;
}

.hoverOverlay {
    position: absolute; 
    bottom: 0; 
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0), rgb(0, 0, 0));
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    height: 400px;

}

.hoverContainer:hover .hoverOverlay {
    opacity: 1;
    -webkit-transition: .2s;
}

.hoverOverlayTextGroup {
    padding-top: 115%;
}

.hoverOverlayText {
    font-size: .8em;
    padding: 0;
    padding-right: 7% !important;
    margin: 0;
    text-align: right;
}

#adminCardHeader {
    padding: 0;
    background-color: transparent;
    border: 0 !important;
    margin-top: 25%;
}

#adminButtonsContainer {
    display: flex;
    justify-content: center;
}

#hoverAdminEdit {
    font-size: 1em;
    background-color: #FFCC15 !important;
    color: black;
}

#hoverAdminDelete {
    font-size: 1em;
    background-color: #D13C3C !important;
}

.hoverOverlayButton {
    font-size: 1.5em;
    padding-top: 3% !important;
    padding-right: 7%;
    float: right !important;
}

#heartButton {
    color: #FF275B;
}

/* modal ------------------------------------------------- */

#modalBody {
    padding: 0 !important;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

#modalImage {
    object-fit: cover !important;
    height: 650px; 
    width: 100%;
}

#modalContainer {
    font-family: 'Karla', sans-serif !important;
    padding-right: 3%;
    line-height: 20px;
}

#modalHeader h2{
    font-family: 'Karla', sans-serif !important;
    font-weight: 600 !important;
    font-size: 2.2em;
    margin: 0;
    margin-top: 5%;
}

#modalSubHeader {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 2%;
}

#horizontalLine {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 1px;
    background-color: #7A7A7A;
}

#modalDate {
    text-align: right;
    color: #404040;
    font-weight: 600;
}

#modalWhat {
    font-size: .9em;
    margin-top: .3%;
    font-weight: 600;
}

#modalDescriptionContainer {
    margin-bottom: 5% !important;
}

#modalDescription {
    font-size: 1.2em;
}

#modalWho {
    font-size: .9em;
    margin-top: .3%;
    font-weight: 600;
}

#modalHostName {
    font-size: 1.2em;
    color: black;
    font-weight: 600;
}

#modalHostTitle {
    font-size: 1em;
}

#modalHostDetailsContainer {
    margin-bottom: 2% !important;
}

#modalHostDescriptionContainer {
    margin-bottom: 5% !important;
}

#modalHostDescription {
    font-size: 1.2em;
}

#modalIconsContainer {
    margin-bottom: 1%;
}

#modalIcons {
    color: black;
}

#modalMinorDetailsContainer {
    line-height: 15px;
    margin-bottom: 6%;
}

#modalMinorDetailsHeader {
    font-size: .8em;
}

#modalMinorDetailsContent {
    font-weight: 600;
}

#modalButtonsContainer {

}

#modalPrice {
    height: 52px;
    display: flex !important;
    align-items: center !important;
    font-weight: 900;
    font-family: 'Cabin', sans-serif;
    font-size: 1.4em;
    white-space: nowrap;
}

#modalButtonFollow {
    background-color: transparent !important;
    color: #3F3F3F;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 1.7em;
}

#modalButtonCancel{
    background-color: transparent !important;
    color: #3F3F3F;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 1.7em;
}

#modalButtonBook{
    font-size: 1.2em;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: #464646;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    padding-left: 18%;
    padding-right:18%;
}

#modalButtonRegister {
    font-size: 1.2em;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: #3F3F3F;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    white-space: nowrap;
    margin-left: 40%;
}

#modalHeartButton {
    background-color: transparent !important;
    color: #FF275B;
    border-radius: 5px;
}

