#pageContainer {
    height: 700px;
    padding-top: 100px;
    background: linear-gradient(rgba(71, 35, 0, 0.9), rgba(255, 130, 5, 0.8)), url("./images/registerpage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    align-items: center;
}

#column {
    display: flex;
    justify-content: center;
}

#cardContainer {
    max-width: 380px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#root {
    background-color: #FF7A00 !important;
}

#inputLabel {
    color: #777777;
    font-size: .8em;
    font-weight: 900;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

#withAccount {
    font-size: .7em;
    margin-bottom: 5%;
    color: #777777;
    text-align: right;
}

#clickHere {
    color: orange !important;
    font-weight: 900;
}

#header {
    padding-top: 7%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: 900;
    font-family: 'Permanent Marker', sans-serif;
}

#buttonContainer{
    text-align: center;
}

#button {
    font-size: 1.2em;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: #464646;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    padding-left: 18% !important;
    padding-right:18% !important;
    white-space: nowrap;

}

#cardBody {
    padding-top: 0% !important;
    padding-bottom: 10% !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}