* {
	margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html, body {
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}